/* Image components
 *
 * Images are always vertical and horizontal centred and
 * never exceed the width of their containers.
 */
.c-image {
  height: auto;
  left: 50%;
  max-width: 90%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

/* Circle image */
.c-image--rounded {
  border-radius: 50%;
}